// Place all the styles related to the vote controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

th {
  border: 2px solid #3366ff;
  color: #3366ff;
}

tr {
  td {
    border-bottom: 1px solid #3366ff;
  }
  &:last-child {
    td {
      border-bottom: none;
    }
  }
}

th, tr {
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
}

table {
  border-radius: 5px;
  border: 2px solid #3366ff;
}

