<center>
  <%= form_for @vote, url: { action: 'create' }, validate: true, remote: true do |v| %>
    <div id="vote_form">
      <%= render partial: 'vote_form', locals: { vote: @vote, accounts: @accounts, votee: @vote.account, payer: @vote.payer } %>
    </div>
  <% end %>
</center>
